@font-face{
    src:url("./font/neodgm_pro.ttf");
    font-family:"neo";
}
input{
    font-family:"neo";
}
html{
    font-family:"neo";
    background:linear-gradient(109deg,#b5d692, 50%,#a8d2a8)
}
#title{
    text-align: center;
    padding-top:50px;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 45px;
    font-size:40px;
}
#content{
    text-align: center;
    margin: auto;
    font-family:"neo";
    width:540px;
}

#camera{
    width:80%;
}



@media(max-width:450px){
    #title{
        font-size:30px;
    }
}

#start{
    padding-top:40px;
    width:70%;
    display:block;
    margin:0 auto;
}
#our_link{
    display: inline;
    text-align: center;
    font-family:"neo";
    margin-top: 20px;
    width:70%;
    padding:0;
    height:24px;
    border-style: none;
    background-color: lightgray;
    border-radius: 5px;
}
#copy_link{
    display: inline;
    margin-top: 5px;
    border-radius: 5px;
    width:70%;
    padding:0;
    height: 30px;
    font-size:15px;
    font-weight: 300;
    border-style: none;
    font-family:"neo";
    background-color: white;
}

button{
    font-family:"neo";
}


@media (max-width : 541px){
    /*
    가로가 540px 보다 클 때  
    */
    #content{
        width:90%;
    }
}

#copyright_one, #copyright_two,#copyright_three{
    bottom:10%;
    width:100%;
    left:25%;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

footer{
    padding-top:80px;
}