@font-face{
    src:url("./font/neodgm_pro.ttf");
    font-family:"neo";
}

html{
    font-family:"neo";
    background:linear-gradient(109deg,#b5d692,#a8d2a8)
}
#title{
    
    text-align: left;
    padding-top:50px;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 45px;
    font-size:40px;
}
#content{
    text-align: center;
    margin: auto;
    font-family:"neo";
    width:540px;
}

#camera{
    width:80%;
}


@media (max-width : 541px){
    /*
    가로가 540px 보다 클 때  
    */
    #content{
        width:90%;
    }
}

@media(max-width:450px){
    #title{
        font-size:30px;
    }
}

#start{
    padding-top:40px;
}
#our_link{
    position: relative;
    width:55%;
    height:24px;
    border-style: none;
    background-color: lightgray;
    border-radius: 5px;
}
#copy_link{
    position: relative;
    margin-top: 20px;
    width:20%;
    height: 24px;
    font-size:10px;
    font-weight: 600;
    border-style: none;
}

button{
    font-family:"neo";
}