@font-face{
    src:url("./font/neodgm_pro.ttf");
    font-family:"neo";
}
html{
        font-family:"neo";
        background:linear-gradient(109deg,#b5d692,#a8d2a8)
}
#content{
    text-align: center;
    margin: 100px auto;
    width:540px;
}

@media (max-width : 541px){
    #content{
        width:80%;
        text-align: center;
        margin: 100px auto;
    }
}

#ques{
    font-size: 25px;
    line-height: 130%;
    padding-bottom: 40px;
    word-break: keep-all;
}
#one{
    width:90%;
    padding-bottom: 20px;
}
#two{
    padding-bottom: 50px;
    width:90%;
}
#gauge{
    width:90%;
}

#content{
    text-align: center;
    margin: 100px auto;
    width:540px;
}

#result_box{
    background-color:lightgray;
    padding:20px;
    border-radius: 30px;
    line-height: 200%;
    font-size:11px;
}

@media (max-width : 541px){
    /*
    가로가 540px 보다 클 때  
    */
    #content{
        width:90%;
    }

}

#shot{
    margin-top: 20px;
    border-radius: 30px;
    width:80%;
    height: 40px;
    font-size: small;
    font-weight: 600;
}

#our_link{
    position: relative;
    width:55%;
    height:24px;
    border-style: none;
    background-color: lightgray;
    border-radius: 5px;
}
#copy_link{
    position: relative;
    margin-top: 20px;
    width:20%;
    height: 24px;
    font-size:10px;
    font-weight: 600;
    border-style: none;
}


#home{
    margin-top: 20px;
    border-radius: 30px;
    width:80%;
    height: 40px;
    font-size: small;
    font-weight: 600;
}

h5{
    font-size:larger;
}

#nickname{
    font-size: medium;
}

#character{
    width: 50%;
    padding-bottom: 20px;
}

#chars_box{
    margin-top: 20px;
    background-color:lightgray;
    padding:20px;
    border-radius: 30px;
    text-align: left;
}

.chars{
    margin-top: 12px;
    font-size:11px;
    line-height: 200%;
}

